/* FUENTES */
@font-face {font-family: 'PixelOperator'; src: url(/fonts/PixelOperator.ttf);}
@font-face {font-family: 'Bucheon';src: url(/fonts/Bucheon-Monospaced.otf);}

/* VARIABLES */
:root {
    --main2: #008081;
    --alt1: #C7C4BF;
    --alt2: #383B40;
    --gap2: calc(var(--gap)*2);
    --gap: 2rem;
    --gapd2: calc(var(--gap)/2);
    --gapd4: calc(var(--gap)/4);
}

html {
    font-size: 62.5%; /* Estándar */
}

* {
    margin: 0; /* Estándar */
    padding: 0; /* Estándar */
    box-sizing: border-box; /* Estándar */
    list-style: none;
    font: 1.7rem 'PixelOperator';
}@media (min-width: 480px) {
    * {
        font-size: 2rem;
    }
}

body {
    min-width: 274px; /* Estándar */
    min-height: 416px; /* Estándar */
    display: flex;
    flex-direction: column;
    background-color: var(--alt2);
}

    section {
        min-height: 100vh;
        display: grid;
        padding: var(--gapd2);
        gap: var(--gapd2);
    }@media (min-width: 992px) {
        section {
            padding: var(--gap) max(calc(50vw - 45rem), calc(12rem + var(--gap2)));
        }
    }section.dark {
        background-color: var(--alt2);
        color: var(--alt1);
        cursor: url("/img/cursor/cursor_2.svg") 32 32, crosshair;
    }section.dark:not(#inicio) > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt1);
    }

        h1 {
            font: 4rem 'Bucheon';
            text-align: center;
        }@media (min-width: 768px) {
            h1 {
                font-size: 6rem;                /* Revisar */
            }
        }
        a {
            color: var(--main2);
        }

/* #1 ERROR */
#error {
    grid-template-rows: 1fr auto 1fr;
    row-gap: var(--gapd4);
}@media (min-width: 768px) {
    #error:target {
        row-gap: var(--gapd2);
    }
}@media (min-width: 992px) {
    #error:target {
        row-gap: var(--gap);
    }
}

    .logo {
        background: url(/img/logo/logo_large.svg) no-repeat center;
        height: 4rem;
        align-self: flex-end;
    }@media (min-width: 768px) {
        .logo {
            height: 6.5rem;
        }
    }

    #error > p {
        text-align: center;
    }