/* FUENTES */
@font-face {font-family: 'PixelOperator'; src: url(/fonts/PixelOperator.ttf);}
@font-face {font-family: 'Bucheon';src: url(/fonts/Bucheon-Monospaced.otf);}

/* VARIABLES */
:root {
    --main1: #FBAE17;
    --main2: #008081;
    --alt1: #C7C4BF;
    --alt2: #383B40;
    --base1: white;
    --base2: black;
    --gap2: calc(var(--gap)*2);
    --gap: 2rem;
    --gapd2: calc(var(--gap)/2);
    --gapd4: calc(var(--gap)/4);
    --std: 3rem;
}

/* RECURSOS */
.high {
    color: var(--main1);
    text-align: left;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boton {
    height: var(--std);
    line-height: var(--std);
    border: none;
    user-select: none;
    cursor: pointer;
}

.animado {
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

/* TRANSVERSALES */
html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-size: 62.5%; /* Estándar */
}@media (min-width: 768px) {
    html {
        scroll-snap-type: y proximity;
    }
}

* {
    margin: 0; /* Estándar */
    padding: 0; /* Estándar */
    box-sizing: border-box; /* Estándar */
    list-style: none;
    font: 1.7rem 'PixelOperator';
}@media (min-width: 480px) {
    * {
        font-size: 2rem;
    }
}

body {
    min-width: 274px; /* Estándar */
    min-height: 416px; /* Estándar */
    display: flex;
    flex-direction: column;
    background-color: var(--alt2);
}

    section {
        scroll-snap-align: start;
        display: grid;
        padding: var(--gapd2);
        gap: var(--gapd2);
    }@media (min-width: 768px) {
        section {
            padding-right: calc(12rem + var(--gap2));
            gap: var(--gap);
        }
    }@media (min-width: 992px) {
        section {
            min-height: 100vh;
            padding: var(--gap) max(calc(50vw - 45rem), calc(12rem + var(--gap2)));
        }
    }section.dark {
        background-color: var(--alt2);
        color: var(--alt1);
        cursor: url("/img/cursor/cursor_2.svg") 32 32, crosshair;
    }section.dark:not(#inicio) > h1,
     section.dark:not(#home) > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt1);
    }section.light {
        background-color: var(--alt1);
        color: var(--alt2);
        cursor: url("/img/cursor/cursor_1.svg") 32 32, crosshair;
    }section.light > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt2);
    }

        h1 {
            font: 4rem 'Bucheon';
            text-align: left;
            margin-top: var(--gapd4);
        }@media (min-width: 768px) {
            h1 {
                font-size: 6rem;                /* Revisar */
                margin-top: var(--gapd2);
            }
        }
        h2 {
            font: 3rem 'Bucheon';
        }@media (min-width: 768px) {
            h2 {
                font-size: 4.5rem;
            }
        }
        h3 {
            font: bold 2rem 'Bucheon';
        }@media (min-width: 768px) {
            h3 {
                font-size: 3rem;
            }
        }
        a {
            color: var(--main2);
        }
        input[type='checkbox'] {
            display: none;
        }

/* HEADER */
#configuracion {
    scroll-snap-align: start;
    height: var(--std);
    line-height: var(--std);
    background-color: var(--main2);
    text-align: center;
}@media (min-width: 768px) {
    #configuracion {
        cursor: url("/img/cursor/cursor_1.svg") 32 32, crosshair;
        text-align: right;
    }
}#configuracion > a {
        color: var(--alt2);
        text-decoration: none;
    }@media (min-width: 468px) {
        #configuracion > a {
            margin: 0px var(--gapd4);
        }
    }

/* #1 INICIO */
#inicio,
#home {
    min-height: calc(100vh - (var(--std) * 2));
    grid-template-rows: 1fr;
    align-items: flex-end;
    background: url(/img/background1.png) left bottom / cover no-repeat;
}@media (min-width: 768px) {
    #inicio,
    #home {
        height: calc(100vh - var(--std));
    }
}#inicio > *,
 #home > * {
    text-align: center;
} 
    div.logo_inicio {
        background: url(/img/logo/logo_large.svg) no-repeat center;
        height: 6.5rem;
    }

/* LOGO STICKY */
.logo_sticky {
    position: sticky;
    top: calc(var(--gapd2) - 4rem);
    transform: translate(
        calc(100vw - 5rem - var(--gapd4)),
        calc(4rem + var(--gapd2)));
    height: 3rem;
    width: 4.5rem;
    background: url(/img/logo/logo_small.svg);
}@media (min-width: 768px) {
    .logo_sticky {
        top: calc(var(--gap) - 8rem);
        transform: translate(
            calc(100vw - 9rem - var(--gap)),
            calc(6rem + var(--gap)));
        height: 6rem;
        width: 9rem;
    }
}@media (min-width: 992px) {
    .logo_sticky {
        transform: translate(
            calc(100vw - 12rem - var(--gap)),
            calc(7rem + var(--gap) + var(--gapd2)));
    }
}

/* #2 SERVICIOS */
article.block_s {
    display: grid;
    gap: var(--gapd4);
    padding: var(--gapd2);
    background-color: var(--alt2);
    color: var(--alt1);
}@media (min-width: 768px) {
    article.block_s {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(auto, 5) 1fr;
        gap: var(--gapd2);
        cursor: url(/img/cursor/cursor_2.svg) 32 32, crosshair;
    }
}article.block_s > h2 {
    background-color: var(--main1);
    color: var(--alt2);
    padding: var(--gapd4);
}

    div.servicio {
        min-height: 20rem;
        background-attachment: fixed;
        background-position: center;
        background-color: var(--base1);
    }@media (min-width: 768px) {
        div.servicio {
            grid-column: 2/2;
            background-size: 40vw;
            background-position: calc(50vw - 3rem) center;
        }
    }@media (min-width: 992px) {
        div.servicio {
            background-size: 30vw;
            background-position: calc(50vw  + 8rem) center;
        }
    }@media (min-width: 1220px) {
        div.servicio {
            background-size: 35rem;
            background-position: calc(50vw + 12rem) center;
        }
    }@supports (-webkit-touch-callout: none) {
        div.servicio.image {
            background-attachment: scroll;
            background-size: cover;
            background-position: center center;
        }
    }

    div.concepto {grid-row: 1/7; background-image: url(/img/servicios/Concepto.png);}
    div.desarrollo {grid-row: 1/7; background-image: url(/img/servicios/Desarrollo.png);}
    div.produccion {grid-row: 1/9; background-image: url(/img/servicios/Produccion.png);}

/* #3 NOSOTROS */
#nosotros > article,
#about > article {
    display: flex;
    flex-direction: column;
    gap: var(--gapd2);
}@media (min-width: 480px) {
    #nosotros > article,
    #about > article {
        gap: var(--gap);
    }
}

article.block_n {
    display: grid;
    gap: var(--gapd2);
}@media (min-width: 480px) {
    article.block_n.fundador,
    article.block_n.objetivos {
        grid-template-columns: 1fr 3fr;
    }
}

/* #4 CONTACTO */
#contacto {
    grid-template-rows: auto auto 1fr auto;
}

article.solicitud {
    display: grid;
    gap: var(--gap);
}@media (min-width: 992px){
    article.solicitud {
        grid-template-columns: 1fr 1fr;
    }
}

    .entrada {
        background-color: var(--alt2);
        padding: var(--gapd2);
        display: grid;
        gap: var(--gapd4);
    }@media (min-width: 768px) {
        .entrada {
            gap: var(--gapd2);
            padding: var(--gapd2);
        }
    }@media (min-width: 992px) {
        .entrada {
            grid-column: 1/2;
        }
    }

        .entrada > label {
            display: grid;
            grid-template-columns: 1fr var(--std);
            gap: var(--gapd4);
        }@media (min-width: 768px) {
            .entrada > label {
                gap: var(--gapd2)
            } 
        }

            .box,
            .checkbox {
                background-color: var(--base1);
                text-align: left;
                padding-left: var(--gapd4);
                height: var(--std);
                line-height: var(--std);
                user-select: none;
                cursor: pointer;
            }

            .entrada > label > input[type='checkbox']:checked ~ span.checkbox {
                background-color: var(--main1);
                color: var(--alt2);
            }

            .entrada > label > input[type='checkbox']:checked ~ span.checkbox::after {
                content: "✓";
                font-size: small;
                display: block;
                text-align: center;
            }

            .entrada > label > input[type='checkbox']:checked ~ span.checkbox.incluido {
                background-color: grey;
                color: var(--alt2);
            }

    .formulario {
        height: 30rem;
        display: grid;
        grid-template-rows: 1fr repeat(4,auto);
        gap: var(--gapd4);
        padding: var(--gapd2);
        background-color: var(--alt2);
    }@media (min-width: 768px) {
        .formulario {
            gap: var(--gapd2);
            padding: var(--gapd2);
        }
    }@media (min-width: 992px) {
        .formulario {
            grid-row: 1 / 4;
            grid-column: 2 / 2;
            height: 100%;
        }
    }

        .formulario > textarea {
            resize: none;
            padding: var(--gapd4);
            background-color: var(--base1);
            border: none;
            font-family: 'PixelOperator';
        }

        .formulario > :is(input[type=email], input[type=tel]),
        input[type=text] {
            padding: var(--gapd4);
            background-color: var(--base1);
            border: none;
            font-family: 'PixelOperator';
        }

            div.captcha {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: var(--gapd4);
            }

                div.captcha > span#txtCaptchaDiv {
                    padding: var(--gapd4);
                    color: var(--main1);
                    user-select: none;
                }

        .formulario > input[type=submit] {
            border: none;
            background-color: var(--main1);
            font-family: 'PixelOperator';
        }

    #gracias,
    #thanks {
        display: none;
        padding: var(--gapd4);
        background-color: var(--main1);
        text-align: center;
    }

    #gracias:target,
    #thanks:target {
        display: initial;
    }

    .advertencia {
        text-align: center;
    }

/* COPYRIGHT */
footer {
    scroll-snap-align: start;
    padding: var(--gapd2);
    padding-bottom: calc(var(--std) + var(--gapd2));
    display: grid;
    gap: var(--gapd4);
 }@media (min-width: 768px) {
     footer {
        padding-right: 15rem;
        padding-bottom: var(--gap);
        gap: var(--gapd4);
        cursor: url("/img/cursor/cursor_2.svg") 32 32, crosshair;
     }
 }@media (min-width: 992px) {
     footer {
         padding: var(--gap) calc(50vw - 45rem);
     }
 }
 
    footer > p {
        color: var(--alt1);
        text-align: center;
    }footer > p:nth-of-type(1) {
        color: var(--alt2);
        background-color: var(--main1);
    }

    footer img {
        height: 15px;
    }

/* NAVEGACIÓN */
.navegacion .boton {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--main1);
    color: var(--alt2);
    text-align: center;
    user-select: none;
}@media (min-width: 768px) {
    .navegacion .boton {
        display: none;
    }
}#inicio:hover      ~ .navegacion a:nth-of-type(2),
 #servicios:hover   ~ .navegacion a:nth-of-type(3),
 #nosotros:hover    ~ .navegacion a:nth-of-type(4),
 #contacto:hover    ~ .navegacion a:nth-of-type(5),

 #home:hover        ~ .navegacion a:nth-of-type(2),
 #services:hover    ~ .navegacion a:nth-of-type(3),
 #about:hover       ~ .navegacion a:nth-of-type(4),
 #contact:hover     ~ .navegacion a:nth-of-type(5) {
    background-color: var(--base1); 
    color: var(--base2);
}

#menu {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--alt2);
    display: grid;
    grid-template-rows: 2fr repeat(9, auto) 1fr;
    align-items: flex-end;
    user-select: none;
}@media (min-width: 768px) {
    #menu {
        top: auto;
        bottom: 25vh;
        right: var(--gap);
        visibility: initial;
        height: auto;
        width: 12rem;
        background-color: transparent;
        opacity: 1;
        mix-blend-mode: difference;
    }
}#menu:target {
    visibility: initial;
    opacity: 1;
}

    #menu > a:not(:first-of-type) {
        width: 100%;
        padding-right: var(--gap);
        text-align: right;
        font: min(4rem, 6vh) 'Bucheon';
        text-decoration: none;
        color: var(--alt1);
    }@media (min-width: 768px) {
        #menu > a:not(:first-of-type) {
            text-align: left;
            font: 2rem/2.5rem 'PixelOperator';
            color: var(--base1);
        }
    }@media (min-width: 768px) {
        #menu > a:not(:first-of-type):hover {
            background-color: var(--base1);
            color: var(--base2);
        }
    }#menu > a:nth-of-type(7),
     #menu > a:nth-of-type(9) {
        margin-bottom: var(--gapd2);
    }