/* FUENTES */
@font-face {font-family: 'PixelOperator'; src: url(/fonts/PixelOperator.ttf);}
@font-face {font-family: 'Bucheon';src: url(/fonts/Bucheon-Monospaced.otf);}

/* VARIABLES */
:root {
    --main1: #FBAE17;
    --main2: #008081;
    --alt1: #C7C4BF;
    --alt2: #383B40;
    --base1: white;
    --base2: black;
    --gap2: calc(var(--gap)*2);
    --gap: 2rem;
    --gapd2: calc(var(--gap)/2);
    --gapd4: calc(var(--gap)/4);
    --std: 3rem;
}

/* RECURSOS */
.high {
    color: var(--main1);
    text-align: left;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boton {
    height: var(--std);
    line-height: var(--std);
    border: none;
    user-select: none;
    cursor: pointer;
}

.animado {
    transition: .25s;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
}

/* TRANSVERSALES */
html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-size: 62.5%; /* Estándar */
}@media (min-width: 768px) {
    html {
        scroll-snap-type: y proximity;
    }
}

* {
    margin: 0; /* Estándar */
    padding: 0; /* Estándar */
    box-sizing: border-box; /* Estándar */
    list-style: none;
    font: 1.7rem 'PixelOperator';
}@media (min-width: 480px) {
    * {
        font-size: 2rem;
    }
}

body {
    min-width: 274px; /* Estándar */
    min-height: 416px; /* Estándar */
    display: flex;
    flex-direction: column;
    background-color: var(--alt2);
}

    section {
        scroll-snap-align: start;
        display: grid;
        padding: var(--gapd2);
        gap: var(--gapd2);
    }@media (min-width: 768px) {
        section {
            padding-right: calc(12rem + var(--gap2));
            gap: var(--gap);
        }
    }@media (min-width: 992px) {
        section {
            min-height: 100vh;
            padding: var(--gap) max(calc(50vw - 45rem), calc(12rem + var(--gap2)));
        }
    }section.dark {
        background-color: var(--alt2);
        color: var(--alt1);
        cursor: url("/img/cursor/cursor_2.svg") 32 32, crosshair;
    }section.dark:not(#inicio) > h1,
     section.dark:not(#home) > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt1);
    }section.light {
        background-color: var(--alt1);
        color: var(--alt2);
        cursor: url("/img/cursor/cursor_1.svg") 32 32, crosshair;
    }section.light > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt2);
    }

        h1 {
            font: 4rem 'Bucheon';
            text-align: left;
            margin-top: var(--gapd4);
        }@media (min-width: 768px) {
            h1 {
                font-size: 6rem;                /* Revisar */
                margin-top: var(--gapd2);
            }
        }
        h2 {
            font: 3rem 'Bucheon';
        }@media (min-width: 768px) {
            h2 {
                font-size: 4.5rem;
            }
        }
        h3 {
            font: bold 2rem 'Bucheon';
        }@media (min-width: 768px) {
            h3 {
                font-size: 3rem;
            }
        }
        a,
        article.block_p > label {
            color: var(--main2);
            cursor: pointer;
            text-decoration: underline;
        }
        input[type='radio'] {
            display: none;
        }
        p.mats {
            color: var(--main1);
            text-align: left;
        }

/* HEADER */
#configuracion {
    scroll-snap-align: start;
    height: var(--std);
    line-height: var(--std);
    background-color: var(--main2);
    text-align: center;
}@media (min-width: 768px) {
    #configuracion {
        cursor: url("/img/cursor/cursor_1.svg") 32 32, crosshair;
        text-align: right;
    }
}#configuracion > a {
        color: var(--alt2);
        text-decoration: none;
    }@media (min-width: 468px) {
        #configuracion > a {
            margin: 0px var(--gapd4);
        }
    }

/* LOGO STICKY */
.logo_sticky {
    position: fixed;
    right: calc(0.5rem + var(--gapd4));
    top: calc(1rem + var(--gapd2));
    height: 3rem;
    width: 4.5rem;
    background: url(/img/logo/logo_small.svg);
}@media (min-width: 768px) {
    .logo_sticky {
        right: var(--gap);
        height: 6rem;
        width: 9rem;
    }
}@media (min-width: 992px) {
    .logo_sticky {
        left: calc(100vw - 12rem - var(--gap));
        top: calc(1rem + var(--gap) + var(--gapd2));
    }
}

/* #1 SERVICIOS */
#servicios {
    background: url(/img/background2.png) center top / contain no-repeat;
}

article.block_p {
    display: grid;
    gap: var(--gapd4);
    padding: var(--gapd2);
    background-color: var(--base2);
    color: var(--alt1);
}@media (min-width: 768px) {
    article.block_p {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 1fr auto;
        gap: var(--gapd2);
        cursor: url("/img/cursor/cursor_2.svg") 32 32, crosshair;
    }
}@media (min-width: 992px) {
    article.block_p {
        grid-template-columns: 1fr 2fr;
    }
}

    div.servicio {
        min-height: 20rem;
    }@media (min-width: 468px) {
        div.servicio {
            min-height: 30rem;
        }
    }@media (min-width: 768px) {
        div.servicio {
            min-height: 20rem;
            grid-column: 1/2;
            grid-row: 1/5;
        }
    }
        div.tallado   {background-image: url(/img/procesos/Tallado.png);}
        div.corte     {background-image: url(/img/procesos/Corte.png);}
        div.grabado   {background-image: url(/img/procesos/Grabado.png);}
        div.impresion {background-image: url(/img/procesos/Impresion.png);}
        div.laminado  {background-image: url(/img/procesos/Laminado.png);}
        div.curvado   {background-image: url(/img/procesos/Curvado.png);}

/* #2 CONTACTO */
#contacto {
    grid-template-rows: auto auto 1fr auto;
}

article.solicitud {
    display: grid;
    gap: var(--gap);
}@media (min-width: 992px){
    article.solicitud {
        grid-template-columns: 1fr 1fr;
    }
}

    .columna1 {
        display: grid;
        gap: var(--gapd2);
    }@media (min-width: 768px) {
        .columna1 {
            grid-template-rows: auto 1fr;
        }
    }

        .procesos {
            background-color: var(--alt2);
            padding: var(--gapd2);
            display: grid;
            gap: var(--gapd4);
        }@media (min-width: 768px) {
            .procesos {
                gap: var(--gapd2);
                padding: var(--gapd2);
            }
        }@media (min-width: 992px) {
            .procesos {
                grid-column: 1/2;
            }
        }

            .procesos > label {
                display: grid;
                grid-template-columns: 1fr var(--std);
                gap: var(--gapd4);
            }@media (min-width: 768px) {
                .procesos > label {
                    gap: var(--gapd2)
                } 
            }

                .box,
                .checkbox {
                    background-color: var(--base1);
                    text-align: left;
                    padding-left: var(--gapd4);
                    height: var(--std);
                    line-height: var(--std);
                    user-select: none;
                    cursor: pointer;
                }

                .procesos > label > input[type='radio']:checked ~ span.checkbox {
                    background-color: var(--main1);
                    color: var(--alt2);
                }

                .procesos > label > input[type='radio']:checked ~ span.checkbox::after {
                    content: "✓";
                    font-size: small;
                    display: block;
                    text-align: center;
                }

                .procesos > label > input[type='radio']:checked ~ span.checkbox.incluido {
                    background-color: grey;
                    color: var(--alt2);
                }

    .formulario {
        height: 30rem;
        display: grid;
        grid-template-rows: 1fr repeat(4,auto);
        gap: var(--gapd4);
        padding: var(--gapd2);
        background-color: var(--alt2);
    }@media (min-width: 768px) {
        .formulario {
            gap: var(--gapd2);
            padding: var(--gapd2);
        }
    }@media (min-width: 992px) {
        .formulario {
            grid-row: 1 / 4;
            grid-column: 2 / 2;
            height: 100%;
        }
    }

        .formulario > textarea {
            resize: none;
            padding: var(--gapd4);
            background-color: var(--base1);
            border: none;
            font-family: 'PixelOperator';
        }

        .formulario > :is(input[type=email], input[type=tel]) {
            padding: var(--gapd4);
            background-color: var(--base1);
            border: none;
            font-family: 'PixelOperator';
        }

        .formulario > input[type=submit] {
            border: none;
            background-color: var(--main1);
            font-family: 'PixelOperator';
        }

    #gracias,
    #thanks {
        display: none;
        padding: var(--gapd4);
        background-color: var(--main1);
        text-align: center;
    }

    #gracias:target,
    #thanks:target {
        display: initial;
    }

    .advertencia {
        text-align: center;
    }

/* COPYRIGHT */
footer {
    scroll-snap-align: start;
    padding: var(--gapd2);
    padding-bottom: calc(var(--std) + var(--gapd2));
    display: grid;
    gap: var(--gapd4);
 }@media (min-width: 768px) {
     footer {
        padding-right: 15rem;
        padding-bottom: var(--gap);
        gap: var(--gapd4);
        cursor: url("/img/cursor/cursor_2.svg") 32 32, crosshair;
     }
 }@media (min-width: 992px) {
     footer {
         padding: var(--gap) calc(50vw - 45rem);
     }
 }
 
    footer > p {
        color: var(--alt1);
        text-align: center;
    }footer > p:nth-of-type(1) {
        color: var(--alt2);
        background-color: var(--main1);
    }

    footer img {
        height: 15px;
    }

/* NAVEGACIÓN */
.navegacion .boton {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--main1);
    color: var(--alt2);
    text-align: center;
    user-select: none;
}@media (min-width: 768px) {
    .navegacion .boton {
        display: none;
    }
}#servicios:hover   ~ .navegacion a:nth-of-type(2),
 #contacto:hover    ~ .navegacion a:nth-of-type(3) {
    background-color: var(--base1); 
    color: var(--base2);
}

#menu {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--alt2);
    display: grid;
    grid-template-rows: 2fr repeat(8, auto) 1fr;
    align-items: flex-end;
    user-select: none;
}@media (min-width: 768px) {
    #menu {
        top: auto;
        bottom: 25vh;
        right: var(--gap);
        visibility: initial;
        height: auto;
        width: 12rem;
        background-color: transparent;
        opacity: 1;
        mix-blend-mode: difference;
    }
}#menu:target {
    visibility: initial;
    opacity: 1;
}

    #menu > a:not(:first-of-type) {
        width: 100%;
        padding-right: var(--gap);
        text-align: right;
        font: min(4rem, 6vh) 'Bucheon';
        text-decoration: none;
        color: var(--alt1);
    }@media (min-width: 768px) {
        #menu > a:not(:first-of-type) {
            text-align: left;
            font: 2rem/2.5rem 'PixelOperator';
            color: var(--base1);
        }
    }@media (min-width: 768px) {
        #menu > a:not(:first-of-type):hover {
            background-color: var(--base1);
            color: var(--base2);
        }
    }#menu > a:nth-of-type(3),
     #menu > a:nth-of-type(5) {
        margin-bottom: var(--gapd2);
    }@media (min-width: 768px) {
        #menu > a:nth-of-type(3),
        #menu > a:nth-of-type(5) {
            margin-bottom: var(--gap);
        }
    }