/* FUENTES */
@font-face {font-family: 'PixelOperator'; src: url(/fonts/PixelOperator.ttf);}
@font-face {font-family: 'Bucheon';src: url(/fonts/Bucheon-Monospaced.otf);}

/* VARIABLES */
:root {
    --main1: #FBAE17;
    --main2: #008081;
    --alt1: #C7C4BF;
    --alt2: #383B40;
    --base1: white;
    --base2: black;
    --gap2: calc(var(--gap)*2);
    --gap: 2rem;
    --gapd2: calc(var(--gap)/2);
    --gapd4: calc(var(--gap)/4);
    --std: 3rem;
}

/* RECURSOS */
.high {
    color: var(--main1);
    text-align: left;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boton {
    height: var(--std);
    line-height: var(--std);
    border: none;
    user-select: none;
    cursor: pointer;
}

/* TRANSVERSALES */
html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-size: 62.5%; /* Estándar */
}@media (min-width: 768px) {
    html {
        scroll-snap-type: y proximity;
    }
}

* {
    margin: 0; /* Estándar */
    padding: 0; /* Estándar */
    box-sizing: border-box; /* Estándar */
    list-style: none;
    font: 1.7rem 'PixelOperator';
}@media (min-width: 480px) {
    * {
        font-size: 2rem;
    }
}

body {
    min-width: 274px; /* Estándar */
    min-height: 416px; /* Estándar */
    display: flex;
    flex-direction: column;
    background-color: var(--alt2);
}

    section {
        scroll-snap-align: start;
        display: grid;
        padding: var(--gapd2);
        gap: var(--gapd2);
    }@media (min-width: 768px) {
        section {
            padding-right: calc(12rem + var(--gap2));
            gap: var(--gap);
        }
    }@media (min-width: 992px) {
        section {
            min-height: 100vh;
            padding: var(--gap) max(calc(50vw - 45rem), calc(12rem + var(--gap2)));
            grid-template-rows: repeat(5,auto) 1fr;
        }
    }section.dark {
        background-color: var(--alt2);
        color: var(--alt1);
    }section.dark > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt1);
    }section.light {
        background-color: var(--alt1);
        color: var(--alt2);
    }section.light > h1 { /* Revisar */
        border-bottom: 1px solid var(--alt2);
    }

        h1 {
            font: 4rem 'Bucheon';
            text-align: left;
            margin-top: var(--gapd4);
        }@media (min-width: 768px) {
            h1 {
                font-size: 6rem;                /* Revisar */
                margin-top: var(--gapd2);
            }
        }
        h2 {
            font: 3rem 'Bucheon';
        }@media (min-width: 768px) {
            h2 {
                font-size: 4.5rem;
            }
        }
        h3 {
            font: bold 2rem 'Bucheon';
        }@media (min-width: 768px) {
            h3 {
                font-size: 3rem;
            }
        }
        a {
            color: var(--main2);
        }
        input[type='checkbox'],
        input[type="radio"] {
            display: none;
        }

.bg_p {background-color: var(--base2);}
.bg_s {background-color: var(--alt2);}

/* HEADER */
#configuracion {
    scroll-snap-align: start;
    height: var(--std);
    line-height: var(--std);
    background-color: var(--main2);
    text-align: center;
}@media (min-width: 768px) {
    #configuracion {
        text-align: right;
    }
}#configuracion > a {
        color: var(--alt2);
        text-decoration: none;
    }@media (min-width: 468px) {
        #configuracion > a {
            margin: 0px var(--gapd4);
        }
    }

/* LOGO STICKY */
.logo_sticky {
    position: fixed;
    top: calc(var(--gapd2) - 4rem);
    transform: translate(
        calc(100vw - 5rem - var(--gapd4)),
        calc(4rem + var(--gapd2)));
    height: 3rem;
    width: 4.5rem;
    background: url(/img/logo/logo_small.svg);
}@media (min-width: 768px) {
    .logo_sticky {
        top: calc(var(--gap) - 8rem);
        transform: translate(
            calc(100vw - 14rem - var(--gapd2)),
            calc(6rem + var(--gap2)));
        height: 6rem;
        width: 9rem;
    }
}@media (min-width: 992px) {
    .logo_sticky {
        transform: none;
        right: calc(0.5rem + var(--gapd4));
        left: calc(100vw - 14rem - var(--gapd2));
        top: calc(1rem + var(--gap) + var(--gapd2));
    }
}

/* #1 PRODUCTOS #2 PERSONALIZABLES*/

article.block_p {
    display: grid;
    gap: var(--gapd4);
    padding: var(--gapd2);
    color: var(--alt1);
    transition: 0.5s;
}@media (min-width: 768px) {
    article.block_p {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 1fr auto;
        gap: var(--gapd2);
    }
}@media (min-width: 992px) {
    article.block_p {
        grid-template-columns: 1fr 2fr;
    }
}

    div.producto,
    div.custom {
        min-height: 20rem;
        transition: 0.3s;
    }@media (min-width: 468px) {
        div.producto,
        div.custom {
            min-height: 30rem;
        }
    }@media (min-width: 768px) {
        div.producto,
        div.custom {
            min-height: 20rem;
            grid-column: 1/2;
            grid-row: 1/5;
        }
    }
    p.high {
        color: var(--main1);
    }

    div.producto::before {
        content: "";
        display: flex;
        height: 100%;
        opacity: 0%;
        background-position: center;
        background-size: cover;
        transition: 0.5s;
    }div.producto:hover::before {opacity: 100%;}

    input[id="outdoor"]:checked ~ article:not(.outdoor),
    input[id="deporte"]:checked ~ article:not(.deporte),
    input[id="jugueteria"]:checked ~ article:not(.jugueteria),
    
    input[id="merch"]:checked ~ article:not(.merch),
    input[id="corp"]:checked ~ article:not(.corp),
    input[id="tool"]:checked ~ article:not(.tool)
    {
        display: none;    
    }

    input[id="outdoor"]:checked ~ div>label.outdoor,
    input[id="deporte"]:checked ~ div>label.deporte,
    input[id="jugueteria"]:checked ~ div>label.jugueteria,

    input[id="merch"]:checked ~ div>label.merch,
    input[id="corp"]:checked ~ div>label.corp,
    input[id="tool"]:checked ~ div>label.tool
    {
        opacity: 10%;
    }

div.prox {
    opacity: 25%;
    background: url(/img/tile_background.png) 25% repeat fixed;
}

div.medidor {background-image: url(https://i.ytimg.com/vi/aISt1NoA_QU/maxresdefault.jpg);}
div.medidor::before {background-image: url(https://i.redd.it/kn72motzwpe21.gif)}

div.pack     {background-image: url(/img/servicios/Packaging.png);}
div.timbre     {background-image: url(/img/servicios/Timbre.png);}
div.letrero     {background-image: url(/img/servicios/Letrero.png);}
div.volumen     {background-image: url(/img/servicios/Volumen.png);}
div.sticker     {background-image: url(/img/servicios/Sticker.png);}
div.molde     {background-image: url(/img/servicios/Molde.png);}

/* COPYRIGHT */
footer {
    scroll-snap-align: start;
    padding: var(--gapd2);
    padding-bottom: calc(var(--std) + var(--gapd2));
    display: grid;
    gap: var(--gapd4);
 }@media (min-width: 768px) {
     footer {
        padding-right: 15rem;
        padding-bottom: var(--gap);
        gap: var(--gapd4);
     }
 }@media (min-width: 992px) {
     footer {
         padding: var(--gap) calc(50vw - 45rem);
     }
 }
 
    footer > p {
        color: var(--alt1);
        text-align: center;
    }footer > p:nth-of-type(1) {
        color: var(--alt2);
        background-color: var(--main1);
    }p.f-logo2 > img {
            height: 25px;
            vertical-align: middle;
    }

/* NAVEGACIÓN */
.navegacion .boton {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--main1);
    color: var(--alt2);
    text-align: center;
    user-select: none;
}@media (min-width: 768px) {
    .navegacion .boton {
        display: none;
    }
}

#menu {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--alt2);
    display: grid;
    grid-template-rows: 2fr repeat(12, auto) 1fr;
    align-items: flex-end;
    user-select: none;
}@media (min-width: 768px) {
    #menu {
        top: auto;
        bottom: 25vh;
        right: var(--gapd2);
        visibility: initial;
        height: auto;
        width: 14rem;
        background-color: transparent;
        opacity: 1;
        mix-blend-mode: difference;
    }
}#menu:target {
    visibility: initial;
    opacity: 1;
}

    #menu > *:not(:first-child) {
        width: 100%;
        padding-left: var(--gap);
        text-align: left;
        font: min(3rem, 6vh) 'Bucheon';
        text-decoration: none;
        color: var(--alt1);
    }@media (min-width: 768px) {
        #menu > *:not(:first-child) {
            text-align: left;
            font: 2rem/2.5rem 'PixelOperator';
            color: var(--base1);
        }
    }@media (min-width: 768px) {
        #menu > *:not(:first-child):hover {
            background-color: var(--base1);
            color: var(--base2);
            cursor: pointer;
        }
    }#menu > *:nth-child(5),
     #menu > *:nth-child(7) {
        margin-bottom: var(--gapd2);
    }

.submenu {
    padding: var(--gapd2);
    text-align: center;
}.submenu > label {
    font: bold 2rem 'Bucheon';
}@media (min-width: 768px) {
    .submenu > label {
        font-size: 3rem;
    }
}.submenu1 {
    background-color: var(--main1);
    color: var(--alt2);
}
.submenu2 {
    background-color: var(--main2);
    color: var(--alt1);
}
